* {
    margin: 0;
    padding: 0;
  }
  /* #top-cont {
    border: 2px solid black;
    height: 200px;
    width: 100%;
    padding: 50px 20px;
    margin: 0px 0px 10px 20px;
  }
  #top-cont h1 {
    color: red;
  }

  #top-cont > div {
    border: 1px solid blue;
  }

  #top-cont > div:nth-child(1) > div:nth-child(3) > h1 {
    color: green;
  } */

  